* {
  box-sizing: border-box;
  /* background-color: #333; */
  /* color: indianred; */
}

#wrapper {
  border-radius: 6px;
  /* border: double 3px indianred; */
  border: double 5px #00ff0084;
  padding: 4px;
  justify-self: center;
  width: 347px;
}

/* Center first img */
#wrapper ul li:first-child {
  margin-left: 10px;
}

/* Center last img */
#wrapper ul li:last-child::after {
  display: inline-block;
  width: 21px;
  margin-right: 10px;
  content: "";
  /* border: 1px solid red; */
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #111;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  height: 100%;
  width: 95%;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

div {
  width: 100%;
  overflow: hidden;
}

nav {
  text-align: center;
}

button {
  border: solid 1px #00ff0084;
  font-size: 5em;
  border-radius: 6px;
  background-color: transparent;
  width: 273px;
  margin-bottom: 8px;
  color: #00ff0084;
}

button :hover {
  color: #00ff00;
  transition: color 0.5s ease;
}

button :active {
  color: #ff00ff;
}

ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
  padding: 0.5rem;
}

img {
  opacity: 100%;
  border-radius: 6px;
  padding: 10px;
  margin: -8px;
  transition: background 0.2s linear;
}

#right-arrow {
  padding-bottom: 10px;
}

.active {
  /* background: rgba(0, 100, 150, 0.4); */
  /* background: indianred; */
  border: 1px solid #00ff0086;
}

img:not(.active) {
  opacity: 40%;
}
